<div class="not-found-container">
  <div class="glitch-text">
    {{glitchTexts[currentGlitchIndex]}}
  </div>
  <div class="error-message">
    Oops! It seems the page you're looking for has been lost in the AI matrix.
    Our digital pathfinders couldn't locate this resource.
  </div>
  <div class="action-buttons">
    <button mat-button class="home-button" routerLink="/">
      <mat-icon>home</mat-icon>
      Go Home
    </button>
    <button mat-button class="back-button" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
      Go Back
    </button>
  </div>
</div>