<div class="logout-container">
  <mat-icon class="logout-icon">logout</mat-icon>
  <h1 class="logout-title">Successfully Logged Out</h1>
  <p class="logout-message">
    Thank you for using Copilot Prompter. You have been successfully logged out of your account.
    Your session has been terminated securely.
  </p>
  <div class="countdown">
    Redirecting to login in {{countdown}} seconds...
  </div>
  <button mat-button class="return-button" (click)="returnToLogin()">
    Return to Login
  </button>
</div>